
.App {
  text-align: center;
}
.user {
    float: right;
    position: relative;
    bottom: 64px;
    font-size: 1.0rem;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
 .logo {
  background:url(./logo.svg)no-repeat;
  width: 50px;
  height: 31px;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}
.logo-title {
  font-size:16px;
  color:#fff;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after{
  border: none!important;
}
.ant-menu-inline .ant-menu-submenu-title,.ant-menu-item > a {
  font-size:13pt;
}
.dataTitle {
    text-indent: 4pt;
    font-size: 16pt;
    height: 16pt;
    line-height: 14pt;
    border-left: 4px solid #49a9ee;
    margin-bottom: 15px;
    color: #000;
}
.App-intro {
  font-size: large;
}
.Title,.Data {
  text-align: center;
}
.Box {
  margin-bottom:20px;
}
.Title{
  font-size:12pt;
  color:#555;
}
.Data{
  font-size:28pt;
  line-height: 42pt;
  color:#108EE9;
  padding:15px 0;
}
.ant-table-thead th {
  text-align:center!important;
}
.ant-table-tbody {
  text-align:center;
  font-size:10pt;
  color:#333;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
