 .formTitle {
 	text-align: center;
 	line-height: 1.5em;
 	padding:25px 0;
 }
 .loginBox{
 	padding-top: 10%;
 }
 .login-form {
  max-width: 300px;
  margin:0px auto ;
  border:2px solid #eee;
  border-radius: 5px;
  padding:15px;
}
 .login-form-forgot {
  float: right;
}
 .login-form-button {
  width: 100%;
}